form{background-color: aqua;
color: brown;
width: 200px;
height: 300px;
border: 20px solid black;
border-radius: 20px;
padding: 30px;
margin: 10px 80px;
display: flex;
flex-direction: column;
justify-content: center;}
body{display: flex;
flex-direction: column;
justify-content: center;
}